.button {
    display: inline-block;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    font-size: 0.9375rem;
    text-transform: uppercase;
    margin-top: 1rem;

    @media (min-width: $break-mid) {
        margin: 3.75rem 1.375rem;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .icon {
       background-size: auto 16px;
       margin-right: 0.25em;
    }
}
