body {
    background-color: $blue;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.25;
    color: white;
}

h1, h2, h3 {
    font-family: $font-bold;
}

a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        border-bottom: 1px solid white;
    }
}

.container {
    max-width: 63.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.newsletter-link {
    font-family: $font-bold;
    color: $blue;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        border-color: $blue;
    }
}

.subscribe-link {
    text-transform: uppercase;
}

.soundcloud {
    margin-top: 5rem;
}
