body {
    background-color: $blue;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.25;
    color: white;

    @media (min-width: $break-mid) {
        /* Fixed nav */
        padding-top: 7.25rem;
    }
}

h1, h2, h3 {
    font-family: $font-bold;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: white;
    }
}

.container {
    max-width: 63.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.orange-link {
    color: $orange;

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $orange;
    }
}

.subscribe-link {
    text-transform: uppercase;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 56px;
    height: 56px;
    margin-left: -28px;
    margin-bottom: -28px;
    border: none;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-image: url(../images/arrow-hover.png);
    }
}

.soundcloud {
    margin-top: 5rem;
}

.commitchange-donate {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;

  iframe {
    border: none;
  }
}
