.icon {
    text-indent: 100%;
    vertical-align: sub;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 20px;
    border: none;
}

.icon-twitter {
    background-image: url(../images/icon-twitter.png);
}

.icon-facebook {
    background-image: url(../images/icon-facebook.png);
}

.icon-instagram {
    background-image: url(../images/icon-instagram.png);
}
