.nav {
    background-color: $dark-grey;
    display: none;
    padding: 3.125rem 1rem;
    transition: padding 250ms;
    font-family: $font-bold;
    font-size: 0.875rem;
    font-weight: bold;

    &.thin {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    @media (min-width: $break-mid) {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        display: block;
    }

    @media (min-width: $break-large) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.nav__item {
    text-transform: uppercase;
    margin-right: 1rem;
}

.nav__item--brand {
    color: $orange;
    float: right;
    margin-right: 0;

    &:hover,
    &:focus,
    &:active {
        border-color: $orange;
    }
}
