.section {
    font-size: 1.125rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4.375rem;

    p {
        max-width: 38.125rem;
        margin: 1.125rem auto;
    }
}

.section__title {
    font-size: 2.25rem;
    margin: 0 auto 5rem;
    color: $orange;
    text-transform: uppercase;

    @media (min-width: $break-mid) {
        font-size: 3.5rem;
    }
}

.section__subtitle {
    font-size: 1.25rem;
    font-family: $font-light;
    margin: 0;
}

.section__image {
    display: block;
    margin: 4.375rem auto 1rem;
    max-width: 100%;
}

.section--orange {
    background-color: $orange;

    .section__title {
        color: $blue;
    }
}

.section--header {
    padding: 0;
    height: 95vh;
    height: calc(100vh - 7.25rem);

    > .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    position: relative;
    background-image: url(../images/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section__title {
        font-size: 14vw;
        color: white;
        margin: 0;

        @media (min-width: $break-large) {
            font-size: 10rem;
        }
    }
}

.section--subscribe {
    border-top: 0.25rem solid $orange;
    border-bottom: 0.25rem solid $orange;
    background-image: url(../images/subscribe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--donate {
    a {
        color: $orange;

        &:hover,
        &:focus,
        &:active {
            border-color: $orange;
        }
    }
}
